@import 'fonts.css'
@import 'normalizecss/normalize.css'

*
  box-sizing: inherit

html
  box-sizing: border-box

.deck
  font-family: 'Roboto Condensed', sans-serif
  color: #222222
  text-rendering: optimizeLegibility
  font-feature-settings: "kern" 1
  font-kerning: normal
  text-shadow: 3px 3px 3px rgba(0,0,0,.75)

  &:not(.bespoke-parent),
  section:not(.bespoke-slide)
    display: none
  
  h1
    font-size: 2.2em
  h2
    font-size: 2.0em
  h3
    font-size: 1.8em

  h1,h2,h3,h4,h5
    b
      color: rgb(200,0,0)
    em
      color: #3f565e
    b, em
      font-size: 1.3em
      text-shadow: 3px 3px 3px rgba(0,0,0,.5)

.bespoke-parent,
.bespoke-scale-parent,
.bespoke-backdrop
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh

.bespoke-parent
  background-color: #111
  overflow: hidden
  & > :not(.bespoke-slide)
    pointer-events: none

.bespoke-slide
  opacity: 0
  position: absolute
  top: 50%
  left: 50%
  width: 640px
  margin-left: -(@width / 2)
  height: 360px
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  // NOTE currently used for transitioning between slides _and_ out of overview
  transition: transform 0.3s ease
  //transition: transform 0.3s ease, opacity 0.3s ease
  &:not([data-bespoke-backdrop])
    background-color: #ffffff
  .content
    opacity: 0
    transition: opacity 0.3s ease
    width: 100%
    height: 100%
    display: inherit
    flex-direction: inherit
    justify-content: inherit
    align-items: inherit

//.bespoke-inactive

.bespoke-active
  pointer-events: auto
  opacity: 1
  // Webkit requires z-index to be 1 for elements to receive focus
  z-index: 1
  .content
    opacity: 1

.inline
  display: inline-block

.no-bullets
  li
    font-size: 1.5em
    list-style: none
    pointer-events: none

.bespoke-bullet
  font-size: 1.5em
  transition: opacity 0.8s ease
  opacity: 0
  list-style: none
  pointer-events: none
  // NOTE workaround bug in Chrome resulting in a visual shift
  -webkit-transform: rotate(0)
  &-active
    opacity: 1
    pointer-events: auto

.content.agenda
  background-color: #d4ca2e
  background-image: url(../images/backdrop-nodes-yellow.png)
  background-size: cover

ul
  padding-left: 0
  margin-left: 1.5ex

  &.agenda
    font-family: Dosis, sans-serif
    font-weight: 600
    display: flex
    flex-direction: column
    justify-content: flex-end
    font-size: 1.5em
    border-left: 0.15em solid #e5df7c
    margin: 0
    // NOTE could also use align-items: flex-end on parent
    position: absolute
    top: 0
    right: 0
    padding: 0 0.5em 0 0
    & li
      list-style: none
      line-height: 1.5
      margin: 0
      padding: 0.25em 0 0.5em 0
      text-transform: uppercase
      color: #971730
      vertical-align: middle
      &::before
        line-height: 1
        content: ''
        display: inline-block
        background-color: #fff
        width: 1.5em
        height: 1.5em
        border-radius: 3em
        margin-right: 1ex
        vertical-align: middle
        margin-left: -0.8325em
        // use this one for Roboto Condensed
        //margin-top: -0.075em
        // use this one for Dosis
        margin-top: -0.2em

.bespoke-slide
  ul.agenda
    height: 0
    li
      opacity: 0

.bespoke-active
  ul.agenda
    transition: height 3s ease 1s
    height: 100%
    li.bespoke-bullet-active
      opacity: 1
      &:first-of-type
        transition: opacity 0.8s ease 4s

.bespoke-slide.title
  background-color: black
  h1
    font-size: 2.65em
    text-shadow: 3px 3px 3px rgba(255,255,255,.25)
    font-weight: 700
    color: #fff

.bespoke-slide.speaker
  background-color: #008CC2
  color: #008CC2
  font-family: Vollkorn, sans-serif
  .content
    display: block
  .name-plate
    background-color: #fff
    position: absolute
    //top: 125px
    top: 120px
    left: 45%
    width: 55%
    height: 110px
    padding-left: 60px
    display: flex
    flex-direction: column
    justify-content: center
    h1, h2
      font-weight: 400
      margin: 0
    h1
      //font-size: 2.2em
      font-size: 35px
      line-height: 1.05
      margin-top: 0.1em
    h2
      //font-size: 1.2em
      font-size: 19px
      line-height: 1.1
      margin-left: 1.65em
      //font-style: italic
      //word-spacing: 0.125em;
      //letter-spacing: 0.005em;
  .headshot
    position: absolute
    //top: 55px
    top: 50px
    left: 75px
    width: 250px
    height: 250px
    border-radius: 250px
    overflow: hidden
    //border: 5px solid #fff
    box-shadow: 0 0 0 5px #fff
  .contact
    color: rgba(255,255,255,0.95)
    position: absolute
    //top: 220px
    top: 215px
    left: 330px
    //font-size: 1.35em
    font-size: 21px
    word-spacing: 0.25em
    line-height: 1.2
    white-space: nowrap

.bespoke-slide.topic
  background-image: url(../images/topic-slide.jpg)
  background-size: cover

  .content
    display: block
    position: absolute
    left: 50%
    top: 50%
    transition: none

  h1
    position: absolute
    left: -35%
    top: 15%
    font-family: Dosis, sans-serif
    color: white
    font-size: 4.0em
    font-weight: 600
    text-transform: uppercase
    line-height: 1
    margin: -1.4em 0 0 -.3em
    text-shadow: 3px 3px 3px rgba(0,0,0,.5)

  h2
    font-family: Dosis, sans-serif
    color: #142642
    font-size: 2.6em
    font-weight: 600
    text-transform: uppercase
    line-height: 1
    margin: -1.4em 0 0 -.3em

.bespoke-slide.subject
  background-color: #111

.content.quote, .content .quote
  align-items: flex-end
  blockquote
    font-family: 'Roboto Condensed'
    font-size: 1.2em
    color: white
    line-height: 1.6
    font-style: italic
    text-align: center
    width: 50% 
  cite
    font-size: 0.8em
    font-weight: lighter
    font-style: normal
    color: #fff
    width: 50%
    text-align: center
    margin-right: 2em
    text-transform: uppercase
    letter-spacing: 0.5ex

.image-caption
  font-family: Dosis, sans-serif
  position: absolute
  bottom: 0.25em
  right: 0
  font-size: 3em
  background-color: rgba(5,51,68,0.9);
  color: #fff
  padding: 0 0.25em 0.1em 0.25em
  font-weight: 500

.bespoke-backdrop
  // NOTE workaround bug in Chrome where 100vw isn't 100% \_o_/
  width: 100%
  //z-index: -1
  opacity: 0
  &-active
    opacity: 1

.content.code
  padding: 0
  background-color: #efefef
  justify-content: flex-start
  .query
    background-color: #19213B
    width: 100%
    min-height: 70%
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center
    padding-bottom: 2em
    &:not(.bespoke-bullet-current)
      min-height: 35%
      //transition: min-height 1s ease 0.5s, padding 1s ease 0.5s
      //transition: min-height 1s ease 0.25s, padding 1s ease 0.25s
      transition: min-height 1s ease, padding 0.5s ease
      padding-bottom: 1.2em
      .label
        opacity: 0
        transition: opacity 0.5s ease
      pre.code
        line-height: 1.4
        opacity: 0.85
        transition: line-height 0.5s ease, opacity 0.5s ease
        overflow: hidden
  pre.code
    font-family: mplus-1m, monospace
    font-weight: 500
    line-height: 1.6
    margin: 0
    color: rgba(255,255,255,0.95)
    // Flexbox likes to cause scrollbars when we don't need them
    overflow: hidden
    .keyword, .function
      //font-weight: 400
      font-weight: 700
    .keyword
      color: #a0ff7c
    .function
      color: #ffffff
  .label
    position: absolute
    top: 1.5ex
    left: 1.5ex
    padding: 0.25ex 0.5ex
    border: 0px solid rgba(255,255,255,0.25)
    border-width: 0 0.2ex
    border-radius: 0.75ex
    font-family: Dosis
    font-weight: 300
    color: rgba(255,255,255,.55)
    line-height: 1
    font-size: 0.9em
  pre.result
    font-family: mplus-1m, monospace
    font-size: 1.3em
    line-height: 1.5
    //line-height: 1.4
    //font-size: 1.1em
    color: #303030
    margin: 0
    padding: 1em 1em 0 1em
    overflow: hidden

.bespoke-overview
  .bespoke-slide
    // NOTE currently used for transitioning into overview
    transition: transform 0.3s ease-out, opacity 0.8s ease-in-out
    .content
      opacity: 1
  .bespoke-backdrop-active
    opacity: 0

.datetime
  td, th
    font-size: 0.5rem
    padding: 0.5rem

.kind-a-blue
  background-image: url(../images/desktop_hibernate_1920x1200.jpg)
  background-size: cover
  color: white

.center
  justify-content: center
  align-items: center
  text-align: center
  margin-left: auto
  margin-right: auto
  padding: 0 1em

.agenda 
  ul
    margin: 0
    padding: 0
    list-style-type: none
  li
    transform: rotate(-45deg)
    display: inline-block

    i
      padding-right: 1em;
  

.filesystemwatch-connector-github
  background: url(../images/filesystemwatch-connector-github.png)
  background-size: cover

  h2
    position: relative
    top: 35%
    width: 100%
    background: rgba(grey, .35)
    padding: 1em
[role='note']
  display: none

code
  font-size: .8em;
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

table
  background: rgba(0,0,0,0.5)
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  padding: 0.5em

  
