doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pay it Forward: Open Source
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Noto+Serif:400,700|Comfortaa:700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='build/main.css')
  body
    article
      section.title
        h1 Pay it forward
        h2 <strong>Open Source</strong>
        footer
          span(class="author") Jason Porter, @lightguardjp

      section
        h2 Open Source in the media (somewhat) recently
        h3 in not a good way

      section
        .row
          img(src="http://heartbleed.com/heartbleed.png")
          img(src="http://www.symantec.com/connect/sites/default/files/users/user-30201/SSLv3_poodle-300px.png")
          h3 Shellshock

      section
        h2 The question:
        h3 How to make it better

      section
        blockquote
          | Great things — ideas, inventions, innovations — are born of contribution and collaboration. Therefore, the best technology comes from the input of many individuals working toward a common goal.
        .attribution
          | — James Whitehurst - CEO &amp; President Red Hat

      section
        h3 It takes all of us

      section
        h2 Let's get on the same page

      section
        dl
          dt Pay it forward
          dd an expression for describing the beneficiary of a good deed repaying it to others instead of to the original benefactor.
        footer
          p http://en.wikipedia.org/wiki/Pay_it_forward

      section
        h3 <strong>What</strong> is "Open Source"?

      section
        h3 The <a href="http://opensource.org/osd-annotated">OSI</a> version

      section
        h3 In a nutshell
        ul
          li Free
          li Something about source code
          li No descrimination
          li License

      section
        h3 explained by
        img(src="http://img2.wikia.nocookie.net/__cb20130601154044/lego/images/2/2d/LEGO_logo.jpg")

      secton
        video(controls)
          source(src="http://upload.wikimedia.org/wikipedia/commons/c/ca/What_is_Open_Source_explained_in_LEGO.ogv")

      section
        h3 <strong>How</strong> does it work

      section
        img(src="images/barley.jpg")
        h3 A heap is made from grains
        .attribution —  Latin Proverb

      section
        h3 <strong>Why</strong> does it work

      section
        .row
          blockquote
            img(src="images/Linus_Torvalds.jpg" width="45%")
            | In open source, <br>we feel strongly that to really do something well, <br> you have to get a lot of people involved.
          .attribution — Linus Torvalds

      section
        h3 <strong>Who</strong> uses it?

      section
        h2 Contribution

      section
        .row
          blockquote
            img(src="images/woodrow-wilson.jpeg" width="45%")
            | We are not here merely to make a living. We are here to enrich the world. 
          .attribution — Woodrow Wilson

      section
        h3 <strong>What</strong> does it mean to contribute?

      section
        dl
          dt Contribution
          dd a payment (as a levy or tax) imposed by military, civil, or ecclesiastical authorities usually for a special or extraordinary purpose
        a(href="http://www.merriam-webster.com/dictionary/contribution") Merriam Webster 

      section
        img(src="http://upload.wikimedia.org/wikipedia/commons/3/3b/Paris_Tuileries_Garden_Facepalm_statue.jpg")

      section
        h3 Let's try this again

      section
        dl
          dt Contribute
          dd to give (something, such as money, goods, or time) to help a person, group, cause, or organization
        a(href="http://www.merriam-webster.com/dictionary/contributing?show=0&t=1416950549") Merriam Webster

      section
        h3 <strong>Why</strong> contribute?

      section
        .row
          blockquote
            img(src="images/Author_Steven_Pressfield,_June_2011.JPG " width="45%")
            | Don't cheat the world of your contribution. Give it what you’ve got.
          .attribution — Steven Pressfield (author, playwright)

      section
        p Part of your job

      section
        p Help yourself

      section
        p Help others 

      section
        img(src="images/91774875_1e27d47611_z.jpg")

      section
        h3 <strong>Ways</strong> of contributing

      section
        P Code

      section
        p Documentation

      section
        p Bug Reporting

      section
        blockquote
          img(src="http://upload.wikimedia.org/wikipedia/commons/e/e2/Eric_S_Raymond_portrait.jpg", height="300")
          | Given enough eyeballs, all bugs are shallow.
        .attribution
          | — Eric S. Raymond (Linus's Law), <i>The Cathedral and the Bazaar</i>

      section
        p Monetary donations

      section
        p Technical Support

      section
        p Evangelisation

      section
        blockquote
          | Empowerment of individuals is a key part of what makes open source work, since in the end, innovations tend to come from small groups, not from large, structured efforts.
        .attribution
          | — Tim O'Reilly

      section
        p Legal Services

      section
        p Artwork

      section
        p Security Audits

      section
        p Using it

      section
        h2 How to start contributing

      setion
        h3 Find a project

      section
        h3 Look for needed contributions

      section
        h3 Ask

      section
        h3 Do

      section
        h3 Submit

      section
        h3 Repeat

      section
        h2 Last thing

      section
        h3 Open Source does so much for you. It powers your phones, your computers, the internet, allows you pay your bills. <strong>Isn’t it about time</strong> to give back?

      section
        h3 Images
        .small
          p heartbleed.com
          p http://www.symantec.com/connect/blogs/ssl-30-vulnerability-poodle-bug-aka-poodlebleed
          p http://commons.wikimedia.org/wiki/File:LinuxCon_Europe_Linus_Torvalds_03.jpg#mediaviewer/File:LinuxCon_Europe_Linus_Torvalds_03.jpg
          p By Alex E. Proimos (http://www.flickr.com/photos/proimos/4199675334/) [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons)]
          p By Ciro612 (Own work) [CC0], via Wikimedia Commons
          p hale_popoki -  https://www.flickr.com/photos/hale_popoki/91774875
          p By Erc_S_Raymond_and_company.jpg: jerone2 derivative work: Bilby (Erc_S_Raymond_and_company.jpg) [CC-BY-SA-2.0 (http://creativecommons.org/licenses/by-sa/2.0)], via Wikimedia 

    script(src='build/build.js')
